.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.h1 {
    font-weight: 700;
    color: white;
    font-size: 200px;
}
:disabled{
    opacity: 0.2;
}
.btn {
    width: 300px;
}