@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    background-color: rgb(1, 26, 42);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* body {
    height: 100vh;
} */

button {
    appearance: none;
    background-color: transparent;
    padding: 16px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 12px;
    color: white;
    border: 2px solid rgb(0, 108, 171);
    transition: 0.3s;

}

button:hover {
    box-shadow: 0 0 16px rgba(0, 108, 171, 0.8);
}